<!--STYLES-->
<link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
<link rel="stylesheet" href="/dependencies/fontawesome.css">
<link rel="stylesheet" href="/styles/importer.css">
<!--STYLES END-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!--SCRIPTS-->
<script src="/dependencies/sails.io.js"></script>
<script src="/dependencies/lodash.js"></script>
<script src="/dependencies/jquery.min.js"></script>
<script src="/dependencies/vue.js"></script>
<script src="/dependencies/vue-router.js"></script>
<script src="/dependencies/bootstrap-4/bootstrap-4.bundle.js"></script>
<script src="/dependencies/cloud.js"></script>
<script src="/dependencies/moment.js"></script>
<script src="/dependencies/parasails.js"></script>
<script src="/js/cloud.setup.js"></script>
<script src="/js/components/ajax-button.component.js"></script>
<script src="/js/components/ajax-form.component.js"></script>
<script src="/js/components/js-timestamp.component.js"></script>
<script src="/js/components/modal.component.js"></script>
<script src="/js/utilities/open-stripe-checkout.js"></script>
<script src="/js/pages/498.page.js"></script>
<script src="/js/pages/account/account-overview.page.js"></script>
<script src="/js/pages/account/edit-password.page.js"></script>
<script src="/js/pages/account/edit-profile.page.js"></script>
<script src="/js/pages/contact.page.js"></script>
<script src="/js/pages/dashboard/welcome.page.js"></script>
<script src="/js/pages/entrance/confirmed-email.page.js"></script>
<script src="/js/pages/entrance/forgot-password.page.js"></script>
<script src="/js/pages/entrance/login.page.js"></script>
<script src="/js/pages/entrance/new-password.page.js"></script>
<script src="/js/pages/entrance/signup.page.js"></script>
<script src="/js/pages/faq.page.js"></script>
<script src="/js/pages/homepage.page.js"></script>
<script src="/js/pages/legal/privacy.page.js"></script>
<script src="/js/pages/legal/terms.page.js"></script>
<!--SCRIPTS END-->

<%- exposeLocalsToBrowser(); %>



<script type="text/javascript">

var mychat;

$(function()
{
    // Display an incoming message
    renderMessage = function(name, text, source, imageURL) {

      console.log(imageURL);

      // Get the chat transcript container.
      var chatTranscriptEl = $('#chat-transcript');

      // Declare a var to hold the new line in the transcript.
      var chatLineEl;

      if(source == 'system') {
          //Style as admin chat line with optional image
          if(imageURL) {
              chatLineEl = $('<li class="chat-line list-group-item-danger list-group-item row"><div class="col col-2 px-0 font-weight-bold">' + name + '</div><div class="col col-10 px-0 font-weight-bold"><img class="img-fluid rounded float-center" style="max-height:400px" src="' + imageURL+ '"></img>' + text + '</div></li>');
          } else {
              chatLineEl = $('<li class="chat-line list-group-item-danger list-group-item row"><div class="col col-2 px-0 font-weight-bold">' + name + '</div><div class="col col-10 px-0 font-weight-bold">' + text + '</div></li>');
          }
      } else {
          if(source == io.socket._raw.id) {
              //Style as self chat line
              chatLineEl = $('<li class="chat-line list-group-item-info list-group-item row"><div class="col col-2 px-0 font-weight-bold">' + name + '<small> (you)</small></div><div class="col col-10 px-0">' + text + '</div></li>');
          } else {
              //Style as other chat line
              chatLineEl = $('<li class="chat-line list-group-item row"><div class="col col-2 px-0 font-weight-bold">' + name + '</div><div class="col col-10 px-0">' + text + '</div></li>');
          }
      }

      chatTranscriptEl.append(chatLineEl);

      $('#chat-transcript').css("margin-bottom", $('#chat-controls').height()) && $('html, body').animate( { scrollTop: $(document).height() }, "fast" );


    };

    //Listen for incoming messages
    io.socket.on('transmission', function(msg) {

        renderMessage(msg.name, msg.text, msg.socket);

    });

    // Listen for confirmation everyone is present, then display prompts
    io.socket.on('converse', function(params) {

        mychat = params.chatid;

        var t = 3000; //delay between welcome and prompts

        renderMessage('SYSTEM', SAILS_LOCALS.project.welcome, 'system');
        //enable controls here

        for (let i=0; i<SAILS_LOCALS.project.prompts.length; i++) {
            setTimeout(function() {
                renderMessage('SYSTEM', SAILS_LOCALS.project.prompts[i].text, 'system', SAILS_LOCALS.project.prompts[i].url);
            }, t);
            t += SAILS_LOCALS.project.prompts[i].delay * 1000;
        }

        setTimeout(function() {
            renderMessage('SYSTEM', SAILS_LOCALS.project.farewell, 'system');
            //disable controls here
        }, t);

    });

    // Send chat to server whenever the "send-chat" button is pressed, or enter is pressed inside the chat input.
    $('#chat-send-button').click(function() {

        var chatInputEl = $('#chat-input');

        io.socket.get('/chat/transmit', {name: SAILS_LOCALS.name, text: chatInputEl.val(), chatid: mychat });

        chatInputEl.val('');

    });

    // When enter is pressed in the chat input, "click" the send button.
    $('#chat-input').keydown(function(e) {

      if (e.keyCode === 13) {
        $('#chat-send-button').click();
      }

    });

    // Join project waiting room as soon as page loads
    io.socket.get('/chat/arrive', {name: SAILS_LOCALS.name, projectid: SAILS_LOCALS.project.id, quorum: SAILS_LOCALS.project.quorum});
    renderMessage('SYSTEM', 'Waiting for ' + SAILS_LOCALS.project.quorum + ' participants to arrive...', 'system');
});

</script>

<div id="chat" class="container-fluid ">

  <ul id="chat-transcript" class="list-group"></ul>

  <div id="chat-controls" class="footer input-group row" style="position:fixed;bottom:0"/>
      <input id="chat-input" class="form-control px-3" type="text" placeholder="Enter a message..." />
      <span class="input-group-append">
        <span id="chat-send-button" class="btn btn-primary btn-block">Send</span>
      </span>
  </div>

</div>
