<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>

<div id="new">
  <div class="container">
	  <h1>Editing Project</h1>
	  <hr/>
	  <p>Define the parameters for your conversation study below:</p>
	  <form id="edit-form" action="/project/create" method="POST">
		  <div class="form-group">
			  <label for="edit-form-name">Project Name</label>
			  <input id="edit-form-name" class="form-control" type="text" name="name" value="" placeholder="My Awesome Chat Study"></input>
		  </div>
		  <div class="form-group">
			  <label for="edit-form-quorum">Participants per room</label>
			  <input id="edit-form-quorum" class="form-control" type="number" name="quorum" value="2"></input>
		  </div>
		  <div class="form-group">
			  <label for="edit-form-welcome">Welcome Text</label>
			  <input id="edit-form-welcome" class="form-control" type="text" name="welcome" value="" placeholder="All participants have arrived! Get ready to chat..."></input>
		  </div>
		  <label for="prompts-dynamic-list">Prompts</label>
		  <div id="prompts-dynamic-list" class="form-group">
			  <div class="input-group">
				  <input class="form-control" id="edit-prompt-text" name="ptexts[]" type="text" placeholder="What do you think of this picture?"></input>
				  <input class="form-control" id="edit-prompt-url" name="purls[]" type="text" placeholder="images.xyz/mycoolimage.jpg"></input>
				  <input class="form-control" id="edit-prompt-delay" name="pdelays[]" type="number" value=60 placeholder="(time in seconds)"></input>
				  <span class="input-group-append input-group-btn">
					  <button class="btn btn-success btn-add" type="button">
						  <span class="fa fa-plus"></span>
					  </button>
				  </span>
			  </div>
		  </div>
		  <div class="form-group">
			  <label for="edit-form-farewell">Farewell Text</label>
			  <input id="edit-form-farewell" class="form-control" type="text" name="farewell" value="" placeholder="Time's up! Thanks for using Convomatic."></input>
		  </div>
		  <input type="hidden" name="_csrf" value="<%- _csrf %>" />
		  <input type="submit" class="btn btn-primary btn-block" value="Save Project"></input>
	  	</form>
		<div class="buttons">
	      <a class="btn btn-secondary btn-block" href="/welcome">Back</a>
	    </div>
  </div>
</div>
