{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": true,
    "tsconfigRootDir": "."
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "ignorePatterns": [
    "dist/",
    "build/",
    "node_modules/",
    "apps/**/.svelte-kit",
    "apps/**/build"
  ],
  "overrides": [
    {
      "files": ["apps/**/src/**/*.svelte"],
      "processor": "svelte3/svelte3",
      "plugins": ["svelte3"],
      "settings": {
        "svelte3/typescript": true
      }
    }
  ],
  "rules": {
    "@typescript-eslint/no-misused-promises": ["error", { "checksVoidReturn": false }]
  }
}
