<div id=editproject>
    <div class=container>
        <br>
        <h1>Editing Project Parameters</h1>
        <br>
        <form>
            <label>Name:
                <input class="" name="name" value="<%= project.name %>" type="text">
            </label>
            <p>(The name of the project)</p>
            <br>
            <label>Welcome text:
                <input class="" name="welcome" value="<%= project.welcome %>" type="text">
            </label>
            <p>(This text will be sent to chatters before the prompts begin)</p>
            <br>
            <button type="button" class="" value="" onclick="">
            Save
            </button>
        </form>
        <br>
    </div>
</div>
asdf
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
